:root{

    --bg:#0f172a;

    --sidebar:#111827;

    --card:#1e293b;

    --card2:#243247;

    --border:#334155;

    --primary:#2563eb;

    --primary-hover:#1d4ed8;

    --text:#ffffff;

    --text2:#cbd5e1;

    --muted:#94a3b8;

    --radius:16px;

    --transition:.25s;

}